@{
    Layout = "_AdminLayout";
}
@model ArticleSettingsViewModel
<div class="contents-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="section-content">
                <div class="content-head">
                    <h4 class="content-title">Список привязанных услуг к статьям</h4><!-- /.content-title -->
                </div><!-- /.content-head -->
                <div class="content-details show">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Название статьи</th>
                                        <th>Номер услуги</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var article in Model.PriceArticles)
                                    {
                                        <tr>
                                            <td>@article.Article.Name</td>
                                            <td>
                                                @article.PriceId
                                            </td>
                                            <td>
                                                <a href="/admin/ArticleSettings/DeletePriceArticle/?id=@article.Id">Удалить</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- /.content-details -->
            </div>
        </div>
    </div>
</div><!-- /.contents-inner -->