<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Диагностический центр 'Забота'</title>
    <meta name="description" content="Диагностический центр 'Забота'">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- Import Template Icons CSS Files -->
    <link rel="stylesheet" href="~/admin/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/admin/assets/css/linea-basic.css">

    <!-- Import Perfect ScrollBar CSS Files -->
    <link rel="stylesheet" href="~/admin/assets/css/perfect-scrollbar.css">

    <!-- Import Bootstrap CSS File -->
    <link rel="stylesheet" href="~/admin/assets/css/bootstrap.min.css">

    <!-- Import Template's CSS Files -->
    <link rel="stylesheet" href="~/admin/assets/css/presets.css">
    <link rel="stylesheet" href="~/admin/assets/css/style.css">
    <link rel="stylesheet" href="~/admin/assets/css/responsive.css">

    <!-- gallery -->
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">

    @RenderSection("CSSConnections", false)

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>

</head>


<body>
    @await Component.InvokeAsync("AdminMenu")
    <div class="dashboard-contents">
        @RenderBody()
        <footer class="site-footer">
            <div class="copyright">
                <div class="float-left">
                    Copyright © 2020 <a href="https://zabotarnd.ru/" target="_blank">Диагностический центр "Забота"</a>
                </div>
            </div><!-- /.copyright -->
        </footer><!-- /.site-footer -->
    </div><!-- /.dashboard-contents -->
    </div><!-- /.content-wrapper -->




    <script src="~/admin/assets/js/jquery-3.2.1.slim.min.js"></script>
    <script src="~/admin/assets/js/plugins.js"></script>
    <script src="~/admin/assets/js/main.js"></script>
    <script src="~/admin/assets/js/jquery.magnific-popup.min.js"></script>

    @RenderSection("JSConnections", false)

    @RenderSection("Scripts", false)
</body>
</html>