@model PriceServiceViewModel
<select id="departments" name="Departments">
    @foreach (var item in Model.PriceServiceDep)
    {
        <option value="@item.grcode">@item.DepartName</option>
    }
</select>