@model PriceServiceViewModel
    <table id="price" class="table table-bordered table-hover">
        <thead class="thead-dark text-center">
            <tr>
                <th scope="col">Наименование</th>
                <th scope="col">Цена</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var price in Model.PriceService)
                {
                        <tr>
                            @if (price.Article != null)
                            {
                                <td><a href="/Articles/Single/@price.Article.Id">@price.Name</a></td>
                            }
                            else
                            {
                                <td>@price.Name</td>
                            }
                            <td>@price.Price</td>
                        </tr>
                }
            }
        </tbody>
    </table>