@model MenuViewModel
<nav class="navbar py-4 navbar-expand-lg ftco_navbar navbar-light bg-light flex-row">
    <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-3 px-md-0">
            <div class="col-lg-2 pr-4 align-items-center">
                <img class="logo" src="~/images/logo-main.png" alt="Диагностика в Ростове-на-дону">
            </div>
            <div class="col-lg-10 d-none d-md-block">
                <div class="row d-flex">
                    <div class="col-md-4 pr-4 d-flex topper align-items-center">
                        <div class="icon bg-white mr-2 d-flex justify-content-center align-items-center"><span class="icon-map"></span></div>
                        <span class="text">г. Ростов-на-Дону пр. Стачки 137 остановка 6-я кольцевая</span>
                    </div>
                    <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon bg-white mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                        <span class="text"><a href="mailto:zabota.dc@gmail.com">zabota.dc@gmail.com</a></span>
                    </div>
                    <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon bg-white mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                        <span class="text"><a href="tel://88633089898">8 (863) 308-98-98</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container d-flex align-items-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <p class="button-custom order-lg-last mb-0"><a href="#" class="btn btn-secondary py-2 px-3">Написать нам</a></p>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">О нас</a>
                    <div class="dropdown-menu mt-0" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/News/All">Новости</a>
                        <a class="dropdown-item" href="#">Свидетельства и лицензии</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Отделения</a>
                    <div class="dropdown-menu mt-0" aria-labelledby="dropdownMenuButton">
                        @foreach (var depart in Model.Departments)
                        {
                            <a class="dropdown-item disabled" href="#">@depart.ShortName</a>
                            @*<a class="dropdown-item disabled" href="#">Косметология</a>
                            <a class="dropdown-item disabled" href="#">МРТ</a>*@
                        }
                    </div>
                </li>
                <li class="nav-item"><a href="/Schedule/AllDoctors" class="nav-link">Врачи</a></li>
                <li class="nav-item"><a href="/Schedule/All" class="nav-link">Расписание</a></li>
                <li class="nav-item"><a href="/Price/All" class="nav-link">Прайс</a></li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Пациенту</a>
                    <div class="dropdown-menu mt-0" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Отзывы</a>
                        <a class="dropdown-item" href="#">Описание услуг</a>
                        <a class="dropdown-item" href="#">Работа в системе ОМС</a>
                    </div>
                </li>
                <li class="nav-item"><a href="/Pages/ContactUs" class="nav-link">Связь</a></li>
            </ul>
        </div>
    </div>
</nav>