<section class="ftco-section contact-section bg-light pt-5">
    <div class="container">
        <div class="row d-flex align-items-stretch no-gutters border shadow">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A95fcedad25e34b83d2940bec3171ecb824a874d9cf46c8685ac35753a22c3805&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>
</section>

<section class="ftco-section contact-section ftco-animate bg-light">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12 mb-4">
                <h2 class="h4">Контактная информация</h2>
            </div>
            <div class="w-100"></div>
            <div class="col-md-3 d-flex">
                <div class="bg-light d-flex align-self-stretch box p-4 shadow">
                    <p><span>Адрес:</span> <span class="text-dark">Ростов-на-Дону, пр. Стачки 137, Остановка 6-ая кольцевая</span></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="bg-light d-flex align-self-stretch box p-4 shadow">
                    <p><span>Телефон:</span><br>
                    <a href="tel://88633089898">+ 7(863)308-98-98</a><br>
                    <a href="tel://88632247737">+ 7(863)224-77-37</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="bg-light d-flex align-self-stretch box p-4 shadow">
                    <p><span>Почта:</span> <a href="mailto:zabota.dc@gmail.com">zabota.dc@gmail.com</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="bg-light d-flex align-self-stretch box p-4 shadow">
                    <p><span>Сайт:</span> <a href="https://zabotarnd.ru/">zabotarnd.ru</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
