<section class="ftco-section mt-0 pt-0 bg-light">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-4 order-lg-last d-flex align-items-stretch ftco-animate">
                <img class="w-100 img d-flex align-self-stretch" src="@Url.Content("~/images/med-polis.jpg")">
            </div>
            <div class="col-8 ftco-animate">
                <h2>Работа в системе ОМС</h2>
                <p>Диагностический центр «Забота» получил возможность оказывать услуги магнитно- резонансной томографии (МРТ), ультразвуковой диагностики (УЗД), функциональной диагностики и лабораторных исследований в рамках территориальной программы государственных гарантий оказания гражданам бесплатной медицинской помощи в Ростовской области.</p>
                <p><b>Для получения услуг Пациенту необходимо предъявить следующие документы:</b></p>
                <ul>
                    <li>Направление на диагностическое исследование, подписанное врачом и заведующим отделения с
                        указанием Ф.И.О., и заверенное печатью медицинской организации.
                        Направление (сроком давности не более 1 мес.) с обязательным указанием вида исследования оформляет
                        лечащий врач медицинской организации, к которой прикреплен пациент, в соответствии с медицинскими
                        показаниями и с учетом порядков оказания медицинской помощи на основе стандартов медицинской помощи.
                        В исключительных случаях (например, при отказе от выдачи направления по месту жительства) и при
                        наличии медицинских показаний направление может выдаваться специалистами Управления
                        здравоохранения города Ростова-на- Дону, в соответствии, подписывается врачом, направившим пациента,
                        заведующим отделением с указанием Ф.И.О. и заверяется печатью медицинской организации с обязательным указанием
                        вида исследования.</li>
                    <li>Полис обязательного медицинского страхования (оригинал и копия).</li>
                    <li>Паспорт гражданина РФ или документ, его заменяющий (оригинал и копия).</li>
                    <li>СНИЛС (оригинал и копия). </li>
                    <li>Для несовершеннолетних: Свидетельство о рождении и его копию, действующий
                        страховой полис ОМС (оригинал и копия), паспорт родителя (оригинал и копия), паспорт
                        гражданина (для детей с 15 лет), СНИЛС пациента (оригинал и копия).</li>
                </ul>

                <p><b>Примечание:</b>
                Запись на прием осуществляется направленным пациентом самостоятельно по телефону, указанному в
                направлении или при личном обращении в медицинский центр «Забота», расположенный по адресу: 
                г. Ростов-на- Дону, пр. Стачки, 137.</p>

                <p>Противопоказаниями для планового направления больных на консультацию являются эпидемически опасные
                инфекционные и паразитарные заболевания.</p>
                <a href="~/pdf/terr_prog.pdf">"О территориальной программе государственных гарантий бесплатного оказания гражданам медицинской помощи в Ростовской области на 2019 год и на плановый период 2020 и 2021 годов"</a>
            </div>
        </div>
    </div>
</section>