<section class="ftco-section mt-0 pt-0 bg-light">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-10 ftco-animate">
                <h2 class="mb-3">Адреса контролирующих организаций</h2>
                <h5>Министерство здравоохранения Ростовской области</h5>
                <p><b>Адрес: 344029, г. Ростов-на-Дону, ул. 1-й Конной Армии, 33</b></p>
                <p>Министр здравоохранения Ростовской области <b>БЫКОВСКАЯ</b> Татьяна Юрьевна тел. <a href="tel:+78632423096">+7 (863) 242-30-96</a>, <br>Электронный адрес: <a href="mailto:minzdrav@aaanet.ru">minzdrav@aaanet.ru</a> Веб-сайт: <a href="http://minzdrav.donland.ru/">minzdrav.donland.ru</a></p>
                <p>Зам. министра здравоохранения области по лечебной работе <b>ГАЛЕЕВ</b> Игорь Владимирович тел. <a href="tel:+78632541715">+7 (863) 254-17-15</a></p>
                <p>Начальник управления лечебно-профилактической помощи <b>КРАТ</b> Александр Васильевич, тел.: <a href="tel:2424120">242-41-20</a></p>
                <p>Начальник отдела экспертизы качества медицинской помощи <b>МАРТИРОСОВ</b> Владимир Юрьевич тел.: <a href="tel:+78632424125">+7 (863) 242-41-25</a></p>

                <h5>Управление здравоохранения города Ростов-на-Дону</h5>
                <p><b>Адрес: 344019, г.Ростов-на-Дону, ул.15-я Линия, 11/11</b></p>
                <p>Начальник управления здравоохранения города Ростов-на-Дону <b>ЛЕВИЦКАЯ</b> Надежда Алексеевна тел. <a href="tel:+78632809720">+7 (863) 280-97-20</a></p>
                <p>
                    Электронный адрес: <a href="mailto:rndzdrav@aaanet.ru">rndzdrav@aaanet.ru</a>

                    <h5 class="mt-3">Управление федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека по Ростовской области</h5>
                <p><b>Адрес: 344019, г. Ростов-на-Дону, ул. 18 линия, 17</b></p>
                <p>Руководитель - Главный государственный санитарный врач по Ростовской области <b>СОЛОВЬЕВ</b> Михаил Юрьевич<br> тел. <a href="tel:+78632510592">+7 (863)251-05-92</a></p>
                <p>Электронный адрес: <a href="mailto:master@61.rospotrebnadzor.ru">master@61.rospotrebnadzor.ru</a></p>
                <p>Веб-сайт: <a href="http://www.61.rospotrebnadzor.ru/">www.61.rospotrebnadzor.ru</a></p>
                <p>Телефон доверия <a href="tel:+78632517417">+7 (863) 251-74-17</a></p>

                <h5 class="mt-3">Территориальный фонд обязательного медицинского страхования Ростовской области</h5>
                <p><b>Адрес: 344000, г. Ростов-на-Дону, ул. Варфоломеева, 261/81</b></p>
                <p>Директор ТФОМС Ростовской области <b>РЕШЕТНИКОВ</b> Алексей Валентинович № коми.: 401</p>
                <p>Начальник отдела экспертизы мед. помощи и защиты прав застрахованных <b>БОЛДЫРЕВ</b> Сергей Семенович <br>тел.: <a href="tel:+78632904581">+7 (863) 290-45-81</a> № коми.: 312</p>
                <p>тел.: <a href="tel:+78632349022">+7 (863) 234-90-22</a>, <a href="tel:2329439">232-94-39</a></p>
                <p>Горячая линия: <a href="tel:+7800333222">8 800 333 222 О</a></p>
                <p>Электронный адрес: <a href="mailto:rofoms@aaanet.ru">rofoms@aaanet.ru</a></p>
                <p>Веб-сайт: <a href="http://rostov-tfoms.ru/">www.rostov-tfoms.ru</a></p>

                <h5 class="mt-3">Территориальный орган Росздравнадзора по Ростовской области</h5>
                <p><b>Адрес: 344037 г. Ростов-на-Дону, ул.Ченцова 71/63 "б"</b></p>
                <p>Руководитель Территориального органа Росздравнадзора по Ростовской области <b>ТРЕПЕЛЬ</b> Вартан Григорьевич</p>
                <p>Многоканальный телефон: <a href="tel:+78632869811">+7 (863) 286-98-11</a>, <a href="tel:2869812">286-98-12</a>, <a href="tel:2869813">286-98-13</a></p>
                <p>Электронный адрес: <a href="mailto:info@reg61.roszdravnadzor.ru">info@reg61.roszdravnadzor.ru</a></p>
                <p>Веб-сайт: <a href="http://61reg.roszdravnadzor.ru/">61reg.roszdravnadzor.ru</a></p>
            </div>
        </div>
    </div>
</section>