@{
    Layout = "_AdminLayout";
}

<div class="contents-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="section-content">
                <div class="content-head">
                    <h4 class="content-title">Добавление статьи</h4><!-- /.content-title -->
                </div><!-- /.content-head -->
                <div class="content-details show">
                    <article class="post type-post">
                        <div class="form-group">
                            <label for="company" class=" form-control-label">Название</label>
                            <input type="text" id="name" placeholder="Название статьи" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Категория</label>
                            <select class="form-control select2">
                                <option selected="selected">Все</option>
                                <option>Новости</option>
                                <option>Акции</option>
                                <option>Статьи</option>
                            </select>
                        </div>
                        <div class=" row form-group">
                            <div class="col col-md-3"><label for="file-input" class=" form-control-label">Изображение</label></div>
                            <div class="col-12 col-md-9"><input type="file" id="file" name="file" class="form-control-file" accept="image/jpeg,image/png"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="entry-thumbnail mb-4"><span id="output"></span></div>
                            </div>
                        </div>
                        <div id="editor">
                        </div>
                        <div>
                            <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                <span id="payment-button-amount">Добавить</span>
                            </button>
                        </div>
                    </article><!-- /.post -->
                </div><!-- /.content-details -->
            </div>
        </div>
    </div>
</div><!-- /.contents-inner -->

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script type="text/javascript">
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object

    // Loop through the FileList and render image files as thumbnails.
    for (var i = 0, f; f = files[i]; i++) {

      // Only process image files.
      if (!f.type.match('image.*')) {
        continue;
      }

      var reader = new FileReader();

      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          var span = document.createElement('span');
            span.innerHTML = ['<img class="thumb" id="output" src="', e.target.result, '" title="', theFile.name, '"/>'].join('');
            document.getElementById('output').replaceWith(span);
        };
      })(f);

      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
    }
  }

document.getElementById('file').addEventListener('change', handleFileSelect, false);
</script>
<script>
    var quill = new Quill('#editor', {
        theme: 'snow'
    });
</script>

<style>
    .thumb {
        height: 300px;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
    }
</style>