@{
    Layout = "_AdminLayout";
}

    <div class="contents-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Категории статей</label>
                    <select class="form-control select2">
                        <option selected="selected">Все</option>
                        <option>Новости</option>
                        <option>Акции</option>
                        <option>Статьи</option>
                    </select>
                </div>
            </div>
                <div class="col-md-6">
                    <div class="section-content">
                        <div class="content-head">
                            <h4 class="content-title">Post sample</h4><!-- /.content-title -->
                            <div class="corner-content float-right">
                                <button class="content-refresh" data-toggle="tooltip" data-placement="top" title="Редактировать"><i class="fa fa-refresh"></i></button>
                                <button class="content-settings" data-toggle="tooltip" data-placement="top" title="Перейти"><i class="fa fa-angle-up"></i></button>
                                <button class="content-collapse" data-toggle="tooltip" data-placement="top" title="Скрыть"><i class="fa fa-angle-down"></i></button>
                                <button class="content-close" data-toggle="tooltip" data-placement="top" title="Удалить"><i class="fa fa-close"></i></button>
                            </div><!-- /.corner-content -->
                        </div><!-- /.content-head -->

                        <div class="content-details show">
                            <article class="post type-post">
                                <div class="entry-thumbnail mb-4"><img src="~/admin/images/blog/1.jpg" alt="Zabota"></div><!-- /.entry-thimbnail -->
                                <div class="entry-content">
                                    <div class="entry-meta mt-2 mb-3">
                                        <span class="author"><a href="#">John Doe</a></span>
                                        <span class="time">Jan 31</span>
                                    </div><!-- /.entry-meta -->
                                </div><!-- /.entry-content -->
                            </article><!-- /.post -->
                        </div><!-- /.content-details -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="section-content">
                        <div class="content-head">
                            <h4 class="content-title">Post sample</h4><!-- /.content-title -->
                            <div class="corner-content float-right">
                                <button class="content-refresh" data-toggle="tooltip" data-placement="top" title="Редактировать"><i class="fa fa-refresh"></i></button>
                                <button class="content-settings" data-toggle="tooltip" data-placement="top" title="Перейти"><i class="fa fa-angle-up"></i></button>
                                <button class="content-collapse" data-toggle="tooltip" data-placement="top" title="Скрыть"><i class="fa fa-angle-down"></i></button>
                                <button class="content-close" data-toggle="tooltip" data-placement="top" title="Удалить"><i class="fa fa-close"></i></button>
                            </div><!-- /.corner-content -->
                        </div><!-- /.content-head -->

                        <div class="content-details show">
                            <article class="post type-post">
                                <div class="entry-thumbnail mb-4"><img src="~/admin/images/blog/1.jpg" alt="Zabota"></div><!-- /.entry-thimbnail -->
                                <div class="entry-content">
                                    <div class="entry-meta mt-2 mb-3">
                                        <span class="author"><a href="#">John Doe</a></span>
                                        <span class="time">Jan 31</span>
                                    </div><!-- /.entry-meta -->
                                </div><!-- /.entry-content -->
                            </article><!-- /.post -->
                        </div><!-- /.content-details -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="section-content">
                        <div class="content-head">
                            <h4 class="content-title">Post sample</h4><!-- /.content-title -->
                            <div class="corner-content float-right">
                                <button class="content-refresh" data-toggle="tooltip" data-placement="top" title="Редактировать"><i class="fa fa-refresh"></i></button>
                                <button class="content-settings" data-toggle="tooltip" data-placement="top" title="Перейти"><i class="fa fa-angle-up"></i></button>
                                <button class="content-collapse" data-toggle="tooltip" data-placement="top" title="Скрыть"><i class="fa fa-angle-down"></i></button>
                                <button class="content-close" data-toggle="tooltip" data-placement="top" title="Удалить"><i class="fa fa-close"></i></button>
                            </div><!-- /.corner-content -->
                        </div><!-- /.content-head -->

                        <div class="content-details show">
                            <article class="post type-post">
                                <div class="entry-thumbnail mb-4"><img src="~/admin/images/blog/1.jpg" alt="Zabota"></div><!-- /.entry-thimbnail -->
                                <div class="entry-content">
                                    <div class="entry-meta mt-2 mb-3">
                                        <span class="author"><a href="#">John Doe</a></span>
                                        <span class="time">Jan 31</span>
                                    </div><!-- /.entry-meta -->
                                </div><!-- /.entry-content -->
                            </article><!-- /.post -->
                        </div><!-- /.content-details -->
                    </div>
                </div>

            </div>
        </div><!-- /.contents-inner -->
