@{
    Layout = "_AdminLayout";
}
@model SliderSettingsViewModel
<div class="contents-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="section-content">
                <div class="content-head">
                    <h4 class="content-title">Список изображений</h4><!-- /.content-title -->
                </div><!-- /.content-head -->
                <div class="content-details show">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark text-center">
                                    <tr>
                                        <th scope="col">Изображение</th>
                                        <th scope="col">Удаление</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var slider in Model.Slider)
                                    {
                                        <tr>
                                            <td class="w-75"><img src="@Url.Content(slider.Image)" class="img-fluid" /></td>
                                            <td><a href="/admin/SliderSettings/DeleteSlider/?id=@slider.Id">Удалить</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- /.contents-inner -->
            </div>
        </div>
        <div class="col-md-12">
            <div class="section-content">
                <div class="content-head">
                    <h4 class="content-title">Добавить изображение слайдера</h4><!-- /.content-title -->
                </div><!-- /.content-head -->
                <div class="content-details show">
                    <article class="post type-post">
                        <div class=" row form-group">
                            <div class="col col-md-3"><label for="file-input" class=" form-control-label">Изображение</label></div>
                            <div class="col-12 col-md-9"><input type="file" id="fileInput" name="file" class="form-control-file" accept="image/jpeg,image/png"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="entry-thumbnail mb-4"><span id="output"></span></div>
                            </div>
                        </div>
                        <div>
                            <button id="payment-button" type="button" onclick="Add_Slider()" class="btn btn-lg btn-info btn-block">
                                <span id="payment-button-amount">Добавить</span>
                            </button>
                        </div>
                    </article><!-- /.post -->
                </div><!-- /.contents-inner -->
            </div>
        </div>
    </div>
</div>
@section JSConnections
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
}
@section Scripts 
{
    <script type="text/javascript">

        function Add_Slider() {
            //random name from img
            var r = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
            console.log(r);

            //info model
            var slider = {};
            slider.Id = null;

            //get img file
            var formData = new FormData();
            file = document.getElementById("fileInput").files[0];


            console.log(JSON.stringify(slider));

            if (file != null) {
                //file extension
                var fe = /(?:\.([^.]+))?$/;
                var ext = fe.exec(file.name)[1];
                formData.append("fileInput", file, r + "." + ext);

                //file extension to db
                slider.Image = r + "." + ext;

                $.ajax({
                    url: '/admin/SliderSettings/AddImage',
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function () {

                    }
                });

                $.ajax({
                    type: "POST",
                    url: "/admin/SliderSettings/AddSlider",
                    data: JSON.stringify(slider),
                    contentType: "application/json",
                    dataType: "json"
                }).done(function (data) {
                    if (data) {
                        Swal.fire({
                            title: 'Отлично!',
                            text: "Изображение добавлено успешно!",
                            icon: 'success',
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Ок'
                        }).then((result) => {
                            if (result.value) {
                                document.location.href = "List";
                            }
                        });
                    }
                    else
                        Swal.fire(
                            'Упс...',
                            'Ошибка при добавлении изображения',
                            'error'
                        );
                }).fail(function (response) {
                    console.log('Error: ' + response);
                });
            }
            else {
                Swal.fire({
                    icon: 'error',
                    title: 'Упс...',
                    text: 'Изображение не выбрано!'
                });
            }
        }
    </script>

    <style>
        .thumb {
            height: 300px;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
        }
    </style>

    <script type="text/javascript">
        function handleFileSelect(evt) {
            var files = evt.target.files; // FileList object

            // Loop through the FileList and render image files as thumbnails.
            for (var i = 0, f; f = files[i]; i++) {

                // Only process image files.
                if (!f.type.match('image.*')) {
                    continue;
                }

                var reader = new FileReader();

                // Closure to capture the file information.
                reader.onload = (function (theFile) {
                    return function (e) {
                        // Render thumbnail.
                        var span = document.createElement('span');
                        span.innerHTML = ['<img class="thumb" id="output" src="', e.target.result, '" title="', theFile.name, '"/>'].join('');

                        document.getElementById('output').replaceWith(span);
                    };
                })(f);

                // Read in the image file as a data URL.
                reader.readAsDataURL(f);
            }
        }
        document.getElementById('fileInput').addEventListener('change', handleFileSelect, false);
    </script>
}