@{
    Layout = "~/Views/Admin/_Layout.cshtml";
}
<div class="form-login">
    <form class="form" method="POST">
        <div class="bf-account-header">
            <p>Ты можешь войти, либо <a href="~/">вернуться на главную</a>.</p>
        </div>
        <div class="text-danger"></div>
        <input id="log" class="form-control form-control form-control-top" placeholder="Username" autofocus>
        <input id="pass" class="form-control form-control form-control-bottom" placeholder="Password">
        <button id="logbutt" class="btn btn-lg btn-primary btn-block" onclick="Ajax_Login()">Войти</button>
    </form>


    @*<div class="bf-account-header mb-0">
            <div class="h5 mb-4">You are already signed in!</div>
            <div class="btn-group d-flex">
                <a href="~/" class="btn btn-outline-primary w-100">Blog</a>
                <a href="~/admin" class="btn btn-outline-primary w-100">Admin</a>
            </div>
        </div>*@
</div>
@section scripts
{
    <script type="text/javascript">

        function Ajax_Login() {

            var logform = {};
            logform.Login = $('#log').val();
            logform.Password = $('#pass').val();

            console.log(JSON.stringify(logform));

            if (logform.Login && logform.Password) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/LoginPost",
                    data: JSON.stringify(logform),
                    contentType: "application/json",
                    dataType: "json"
                }).done(function (data) {
                    console.log(data.result + "huy");
                    //if (data.result)
                    //    document.location.replace = "/Main";
                    //else
                    //    alert("Ошибка!");
                }).fail(function () {
                    console.log('Error');
                });
            }
            else {
                alert("Заполнены не все поля!");
            }
        }
    </script>
}

