@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Диагностический центр "Забота"</title>
    <meta name="description" content="Забота">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- Import Template Icons CSS Files -->
    <link rel="stylesheet" href="~/admin/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/admin/assets/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/admin/assets/css/linea-basic.css">

    <!-- Import Custom Country Select CSS Files -->
    <link rel="stylesheet" href="~/admin/assets/css/countrySelect.min.css">

    <!-- Import Perfect ScrollBar CSS Files -->
    <link rel="stylesheet" href="~/admin/assets/css/perfect-scrollbar.css">

    <!-- Import Bootstrap CSS File -->

    <link rel="stylesheet" href="~/admin/assets/css/bootstrap.min.css">

    <!-- Import Template's CSS Files -->
    <link rel="stylesheet" href="~/admin/assets/css/presets.css">
    <link rel="stylesheet" href="~/admin/assets/css/style.css">
    <link rel="stylesheet" href="~/admin/assets/css/pages/pages.css">
    <link rel="stylesheet" href="~/admin/assets/css/responsive.css">


</head>

<body>
    <div class="admin-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-md-3">
                    <div class="login-content bg-light">
                        <div class="login-logo pt-4 pb-3 bg-dark">
                            <a href="/">
                                <img class="align-content" src="~/admin/images/logo2.png" alt="">
                            </a>
                        </div>
                        <div class="login-form">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <form>
                                    <div class="form-group">
                                        <lSource Sans Pro>Логин</lSource>
                                        <input type="email" id="log" class="form-control" placeholder="Login">
                                    </div>
                                    <div class="form-group">
                                        <lSource Sans Pro>Пароль</lSource>
                                        <input type="password" id="pass" class="form-control" placeholder="Password">
                                    </div>
                                    <button type="button" onclick="Ajax_Login()" class="btn btn-primary btn-flat mb-3 mt-3">Войти</button>
                                </form>
                            }
                            else
                            {
                                <p>
                                    Вы уже авторизованы.
                                </p>
                                <a href="/admin/ArticleSettings/list" class="btn btn-primary btn-flat mb-3 mt-3">Админ-панель</a>
                                <a href="/" class="btn btn-primary btn-flat mb-3 mt-3">На главную</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/admin/assets/js/jquery-3.2.1.slim.min.js"></script>
    <script src="~/admin/assets/js/plugins.js"></script>
    <script src="~/admin/assets/js/main.js"></script>

    <script type="text/javascript">

        function Ajax_Login() {

            var logform = {};
            logform.Login = $('#log').val();
            logform.Password = $('#pass').val();

            console.log(JSON.stringify(logform));

            if (logform.Login && logform.Password) {
                $.ajax({
                    type: "POST",
                    url: "/admin/auth/loginPost",
                    data: JSON.stringify(logform),
                    contentType: "application/json",
                    dataType: "json"
                }).done(function (data) {
                    if (data) {
                        Swal.fire({
                            title: 'Отлично!',
                            text: "Авторизация успешна!",
                            icon: 'success',
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Ок'
                        }).then((result) => {
                            if (result.value) {
                                document.location.href = "../ArticleSettings/list";
                            }
                        });

                    }

                    else
                        Swal.fire(
                            'Упс...',
                            'Данные введены неправильно!',
                            'error'
                        );
                }).fail(function () {
                    console.log('Error');
                });
            }
            else {
                Swal.fire({
                    icon: 'error',
                    title: 'Упс...',
                    text: 'Заполнены не все поля!'
                })
            }
        }
    </script>
    <!--alerts-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</body>
</html>




