@model ReviewsViewModel
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <span class="subheading">Отзывы</span>
                <h2 class="mb-4">Наши Пациенты говорят о Нас</h2>
            </div>
        </div>
        @await Html.PartialAsync("PagedReviews")
        <div class="row">
            <div class="col-12 ml-auto mr-auto">
                <form id="reviewForm">
                    <div class="form-group">
                        <input id="NameReview" type="text" class="form-control" aria-describedby="nameHelp" placeholder="Name...">
                        <small id="nameHelp" class="form-text text-muted">Просьба вводить Ваше имя в адекватном виде.</small>
                    </div>
                    <div class="form-group">
                        <input id="EmailReview" type="email" class="form-control" placeholder="name@example.com" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">Ваш e-mail адрес не будет показан.</small>
                    </div>
                    <div class="form-group">
                        <textarea id="TextReview" class="form-control" rows="3" placeholder="Text..." aria-describedby="textHelp"></textarea>
                        <small id="textHelp" class="form-text text-muted">Текст Вашего отзыва.</small>
                    </div>
                    <button id="AddReview" type="button" class="btn btn-primary mb-2" onclick="Ajax_AddReview()">Отправить отзыв</button>
                </form>
            </div>
        </div>
    </div>
</section>
@section scripts
{
    <script type="text/javascript">
        function Ajax_AddReview() {

            var review = {};
            review.id = null;
            review.author = $('#NameReview').val();
            review.email = $('#EmailReview').val().trim();
            review.text = $('#TextReview').val();

            console.log(JSON.stringify(review));

            if (review.author && review.email && review.text) {
                $.ajax({
                    type: "POST",
                    url: "/Reviews/AddReview",
                    data: JSON.stringify(review),
                    contentType: "application/json",
                    dataType: "json"
                }).done(function (data) {
                    if (data) {
                        alert("Отзыв успешно отправлен!");
                        location.reload();
                    }
                    else
                        alert("Ошибка при отправке отзыва!");
                }).fail(function (response) {
                    console.log('Error: ' + response);
                });
            }
            else {
                alert("Заполнены не все поля!");
            }
        }
    </script>
}
